.DS_Store
*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.ckpt
*.pth
data
data_scannet
scene000000_B/
submodules/diff-gaussian-rasterization-feature/third_party
SIBR_viewers
viewer_windows/
image.pt
snapshot_bw.dump
test_images/
all_data/
txt_auc/
scannet/
diff_gaussian_rasterization_feature_b4.egg-info/
diff_gaussian_rasterization_feature.egg-info/
diff_gaussian_rasterization.egg-info/
simple_knn_b4.egg-info/
simple_knn.egg-info/